body {
	margin: 0px;
	color: #39190E;
	background-size: cover;
	background-position: 50%;
	transition: inherit;
	text-align:center;
	font-family: 'Didact Gothic', "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}
a {
	color: inherit;
	text-decoration: none;
}
.header {
	background: #39190E;
	opacity: 0.9;
	overflow-x: auto;
	overflow-y: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 4;
	height: 80px;
	color: #fff;
	font-size: 15px;
	font-weight: 700;
}
.header a {
	margin: 0px 0px 0px 24px;
	width: 163px;
	max-width: calc(100% - 24px);
}
.header a:hover {
	opacity: 0.7;
}
.header-left{
	vertical-align: middle;
	display: flex;
	align-items: center;
	justify-content: center;
	float:left;
	height:80px;
}
img {
	max-width:100%;
	vertical-align:bottom;
	object-fit: cover;
}
.appear {
	animation-name: sizeScale;
	animation-duration: 2s;
	animation-fill-mode:forwards;
}
@keyframes sizeScale {
	100% {
		transform: scale(1.04, 1.04);
	}
}
.effect-fade {
	opacity : 0;
	transform : translate(0, 45px);
	transition : all 600ms;
}
.effect-fade.effect-scroll {
	opacity : 1;
	transform : translate(0, 0);
}
h2 {
	border-bottom: solid 1px #282828;
	font-size: 20px;
	font-weight: 500;
	margin: 0px 0px 20px 0px;
	max-width: 100%;
		display: inline;
}
.contents_innner {
	padding-top: 80px;
	margin:-60px 0 20px 0;
	font-size: 28px;
	font-weight: 400;
}
.button {
	background: #eadbbe;
	border-bottom: 1px solid #39190E;
	border-left: 1px solid #39190E;
	border-radius: 4px;
	border-right: 1px solid #39190E;
	border-top: 1px solid #39190E;
	box-shadow: 0px 2px 5px #212121;
	color: #39190E;
	flex: none;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 0.15em;
	line-height: 1.6;
	margin: 0px 0px 6px 0px;
	padding: 12px 24px 12px;
	text-align: center;
	width: 150px;
	max-width: 100%;
	justify-content: center;
	cursor: pointer;
	transition-duration:.5s;
}
.button:hover {
	color:#fff;
	background: #ffea6b;
	box-shadow: none;
}
.title {
	position: absolute;
	font-size:10vmin;
	bottom: 20%;
	left: 0;
	right: 0;
	margin: auto;
	color:#fff;

}
.title-button {
	position: absolute;
	bottom: 5%;
	left: 0;
	right: 0;
	margin: auto;
}
.vertical-txt{
	writing-mode: vertical-rl;
	align-items: center;
	position: absolute;
	font-size:30px;
	top: 45%;
	margin: auto;
	color:#fff;
	left:50%;
	transform:translate(-50%, -50%);
	height:676px;
}
.teigi {
	background:#EADBBE;
}
.box {
	width:700px;
	max-width:90%;
	margin:auto;
	background:#39190E;
	color:#fff;
}
.buy1 {
	height: 450px;
	width:100%;
	background: URL(img/7.jpeg);
	background-size:cover;
	background-position:50%;
}
.buy2 {
	height: 450px;
	width:100%;
	background: URL(img/8.jpeg);
	background-size:cover;
	background-position:50%;
}
.producer {
	background: URL(img/14.JPG);
	height: 450px;
	width: 100%;
	background-size: cover;
	background-position:top 0 left 50%
}

/***** PC用css *****/
@media screen and (min-width:769px) {
	.sp {
		display:none
	}
	.header-center {
		text-align: center;
		vertical-align: middle;
		display: flex;
		align-items: center;
		justify-content: center;
		height:80px;
	}
	.header-right{
		display: none;
	}
	.teigi {
		text-align:left;
		display: flex;
		flex-wrap: wrap;
	}
	.teigi img {
		height: 600px;
		width:50%;
	}
	.teigi-txt {
		display:inline-block;
		width:50%;
		vertical-align: top;
		margin-top: 200px;"
	}
	.teigi-txt div {
		padding:0 80px 0;
	}
	.enjoy {
		width:90%;
		margin:auto;
		padding: 30px 0;
	}
	.enjoy-box {
		width:50%;
	}
	.enjoy-box img {
		height: 600px;
		width:100%;
	}
	.enjoy-left {
		padding-right:10px;
	}
	.enjoy-right {
		padding-left:10px;
	}
}
/***** SP用css *****/
@media screen and (max-width:768px) {
	.pc {
		display:none
	}
	.header-center {
		display:none;
	}
	.header-right{
		height:80px;
		display: flex;
		align-items: center;
		justify-content: center;
		float:right;
	}
	.menu-btn {
		position: fixed;
		top: 10px;
		right: 10px;
		display: flex;
		height: 60px;
		width: 60px;
		justify-content: center;
		align-items: center;
		z-index: 90;
	}
	.menu-btn span,
	.menu-btn span:before,
	.menu-btn span:after {
		content: '';
		display: block;
		height: 3px;
		width: 25px;
		border-radius: 3px;
		background-color: #fff;
		position: absolute;
	}
	.menu-btn span:before {
		bottom: 8px;
	}
	.menu-btn span:after {
		top: 8px;
	}
	.menu-content {
		text-align: center;
		width: 100%;
		height: 100%;
		position: fixed;
		bottom: 100%;
		left: 0;
		z-index: 80;
		transition: all 0.5s;/*アニメーション設定*/
		color:#333;
	}
	#menu-btn-check {
		display: none;
	}
	#menu-btn-check:checked ~ .menu-content {
		bottom: 0;
	}
	.active {
		bottom: 0;
	}
	.menu-content nav {
		margin-top:80px;
		background-color: #fff;
	}
	.menu-content nav a{
		padding:12px;
		font-size: 14px;
		font-weight: 700;
		display: block;
		margin: auto;
		width: 100%;
	}
	.teigi {
		text-align:left;
	}
	.teigi-txt div {
		padding:15px 22px;
	}
	.enjoy {
		width:100%;
		margin:auto;
		padding: 30px 0;
	}
	.enjoy-box {
		width:100%;
	}
	.enjoy-box img {
		height: 400px;
		width:100%;
	}
	.enjoy-box p{
		margin:15px 40px;
	}
	.enjoy-note {
		margin:15px 40px;
	}
	.buy1 {
		height: 240px;
	}
	.buy2 {
		height: 240px;
	}
	.producer {
		height: 240px;
	}
}